.my-container {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.2;
    z-index: -100;
}

/* 
Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    h1, h2 {
        font-size: small;
    }

    .table thead th {
        font-size: small;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    h1, h2 {
        font-size: small;
    }

    .table thead th {
        font-size: small;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    h1, h2 {
        font-size: large;
    } 

    .table thead th {
        font-size: large;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    h1, h2 {
        font-size: large;
    }

    .table thead th {
        font-size: large;
    }
}
